extends ../shared/adminlayout

block Content 
    .container-fluid
        if typeof msg != 'undefined' 
            .alert.alert-success
                | Update successfully
        h2.text-center ALL POST
        .card.card-body
            table.table.table-hover
                thead
                    tr 
                        th(style="width: 15px") #
                        th(style="width: 15px") Thumbnail 
                        th Title 
                        th Category 
                        th Created At
                        th Action
                tbody
                    - i = 1
                    each item in dt 
                        tr
                            td.align-middle=i
                            td.align-middle 
                                img.img-fluid(src="/upload/"+ item.thumbnail width="100px" style="max-height:50px") 
                            td.align-middle 
                                a(href="/post/"+item.id) #{item.title} 
                            td.align-middle #{item.name}
                            td.align-middle #{item.created_at}
                            td.align-middle 
                                a.btn.btn-outline-secondary(href="/admin/editpost/" + item.id) 
                                    img(src="https://img.icons8.com/ios-glyphs/15/A4A4A4/pencil--v2.png")
                        - i++
                    