extends ../shared/adminlayout

block Content 
    .container-fluid 
        h2.text-center ALL POST
        .card.card-body
            table.table.table-hover
                thead
                    tr 
                        th #
                        th Thumbnail 
                        th Title 
                        th Content 
                        th Category 
                        th Created At
                tbody 
                    tr 
                        td 1
                        td Image 
                        td Cach lam banh 
                        td Viet Nam la mot quoc gia doc lap...  
                        td Cake Recipe 
                        td 12/07/2023
                    tr 
                        td 1
                        td Image 
                        td Cach lam banh 
                        td Viet Nam la mot quoc gia doc lap...  
                        td Cake Recipe 
                        td 12/07/2023
                    tr 
                        td 1
                        td Image 
                        td Cach lam banh 
                        td Viet Nam la mot quoc gia doc lap...  
                        td Cake Recipe 
                        td 12/07/2023
                    tr 
                        td 1
                        td Image 
                        td Cach lam banh 
                        td Viet Nam la mot quoc gia doc lap...  
                        td Cake Recipe 
                        td 12/07/2023
                    tr 
                        td 1
                        td Image 
                        td Cach lam banh 
                        td Viet Nam la mot quoc gia doc lap...  
                        td Cake Recipe 
                        td 12/07/2023