nav.navbar.navbar-expand.navbar-light.bg-navbar.topbar.mb-4.static-top
    button#sidebarToggleTop.btn.btn-link.rounded-circle.mr-3
        i.fa.fa-bars
    ul.navbar-nav.ml-auto
        li.nav-item.dropdown.no-arrow
            a#searchDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                i.fas.fa-search.fa-fw
            .dropdown-menu.dropdown-menu-right.p-3.shadow.animated--grow-in(aria-labelledby='searchDropdown')
                form.navbar-search
                    .input-group
                        input.form-control.bg-light.border-1.small(type='text' placeholder='What do you want to look for?' aria-label='Search' aria-describedby='basic-addon2' style='border-color: #3f51b5;')
                        .input-group-append
                            button.btn.btn-primary(type='button')
                                i.fas.fa-search.fa-sm
        li.nav-item.dropdown.no-arrow.mx-1
            a#alertsDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                i.fas.fa-bell.fa-fw
                span.badge.badge-danger.badge-counter 3+
            .dropdown-list.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='alertsDropdown')
                h6.dropdown-header
                    | Alerts Center
                a.dropdown-item.d-flex.align-items-center(href='#')
                    .mr-3
                        .icon-circle.bg-primary
                            i.fas.fa-file-alt.text-white
                    div
                        .small.text-gray-500 December 12, 2019
                        span.font-weight-bold A new monthly report is ready to download!
                a.dropdown-item.d-flex.align-items-center(href='#')
                    .mr-3
                        .icon-circle.bg-success
                            i.fas.fa-donate.text-white
                    div
                        .small.text-gray-500 December 7, 2019
                        |                     $290.29 has been deposited into your account!
                a.dropdown-item.d-flex.align-items-center(href='#')
                    .mr-3
                        .icon-circle.bg-warning
                            i.fas.fa-exclamation-triangle.text-white
                    div
                        .small.text-gray-500 December 2, 2019
                        |                     Spending Alert: We&apos;ve noticed unusually high spending for your account.
                a.dropdown-item.text-center.small.text-gray-500(href='#') Show All Alerts
        li.nav-item.dropdown.no-arrow.mx-1
            a#messagesDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                i.fas.fa-envelope.fa-fw
                span.badge.badge-warning.badge-counter 2
            .dropdown-list.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='messagesDropdown')
                h6.dropdown-header
                    | Message Center
                a.dropdown-item.d-flex.align-items-center(href='#')
                    .dropdown-list-image.mr-3
                        img.rounded-circle(src='img/man.png' style='max-width: 60px' alt='')
                        .status-indicator.bg-success
                    .font-weight-bold
                        .text-truncate
                            | Hi there! I am wondering if you can help me with a problem I&apos;ve been
                            | having.
                        .small.text-gray-500 Udin Cilok &middot; 58m
                a.dropdown-item.d-flex.align-items-center(href='#')
                    .dropdown-list-image.mr-3
                        img.rounded-circle(src='img/girl.png' style='max-width: 60px' alt='')
                        .status-indicator.bg-default
                    div
                        .text-truncate
                            | Am I a good boy? The reason I ask is because someone told me that people
                            | say this to all dogs, even if they aren&apos;t good...
                        .small.text-gray-500 Jaenab &middot; 2w
                a.dropdown-item.text-center.small.text-gray-500(href='#') Read More Messages
        li.nav-item.dropdown.no-arrow.mx-1
            a#messagesDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                i.fas.fa-tasks.fa-fw
                span.badge.badge-success.badge-counter 3
            .dropdown-list.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='messagesDropdown')
                h6.dropdown-header
                    | Task
                a.dropdown-item.align-items-center(href='#')
                    .mb-3
                        .small.text-gray-500
                            | Design Button
                            .small.float-right
                                b 50%
                        .progress(style='height: 12px;')
                            .progress-bar.bg-success(role='progressbar' style='width: 50%' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100')
                a.dropdown-item.align-items-center(href='#')
                    .mb-3
                        .small.text-gray-500
                            | Make Beautiful Transitions
                            .small.float-right
                                b 30%
                        .progress(style='height: 12px;')
                            .progress-bar.bg-warning(role='progressbar' style='width: 30%' aria-valuenow='30' aria-valuemin='0' aria-valuemax='100')
                a.dropdown-item.align-items-center(href='#')
                    .mb-3
                        .small.text-gray-500
                            | Create Pie Chart
                            .small.float-right
                                b 75%
                        .progress(style='height: 12px;')
                            .progress-bar.bg-danger(role='progressbar' style='width: 75%' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100')
                a.dropdown-item.text-center.small.text-gray-500(href='#') View All Taks
        .topbar-divider.d-none.d-sm-block
        li.nav-item.dropdown.no-arrow
            a#userDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                img.img-profile.rounded-circle(src='img/boy.png' style='max-width: 60px')
                span.ml-2.d-none.d-lg-inline.text-white.small Maman Ketoprak
            .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='userDropdown')
                a.dropdown-item(href='#')
                    i.fas.fa-user.fa-sm.fa-fw.mr-2.text-gray-400
                    |                   Profile
                a.dropdown-item(href='#')
                    i.fas.fa-cogs.fa-sm.fa-fw.mr-2.text-gray-400
                    |                   Settings
                a.dropdown-item(href='#')
                    i.fas.fa-list.fa-sm.fa-fw.mr-2.text-gray-400
                    |                   Activity Log
                .dropdown-divider
                a.dropdown-item(href='javascript:void(0);' data-toggle='modal' data-target='#logoutModal')
                    i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
                    |                   Logout
