doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    link(href='/asset/img/logo/logo.png' rel='icon')
    title SmartChef
    link(href='/asset/vendor/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css')
    link(href='/asset/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet' type='text/css')
    link(href='/asset/css/ruang-admin.min.css' rel='stylesheet')
    link(href='/asset/vendor/datatables/dataTables.bootstrap4.min.css' rel='stylesheet')


body#page-top
    #wrapper
        include slidebar 
        #content-wrapper.d-flex.flex-column
            #content
                include topbar
                block Content
    script(src='/asset/vendor/jquery/jquery.min.js')
    script(src='/asset/vendor/bootstrap/js/bootstrap.bundle.min.js')
    script(src='/asset/vendor/jquery-easing/jquery.easing.min.js')
    script(src='/asset/js/ruang-admin.min.js')
    script(src='/asset/vendor/chart.js/Chart.min.js')
    script(src='/asset/js/demo/chart-area-demo.js')
    script(src='/asset/vendor/datatables/jquery.dataTables.min.js')
    script(src='/asset/vendor/datatables/dataTables.bootstrap4.min.js')

