doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    link(href='/asset/img/logo/logo.png' rel='icon')
    title SmartChef
    link(href='/asset/vendor/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css')
    link(href='/asset/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet' type='text/css')
    link(href='/asset/css/ruang-admin.min.css' rel='stylesheet')
    link(href='/asset/vendor/datatables/dataTables.bootstrap4.min.css' rel='stylesheet')
    link(href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet")
    script(src="https://cdn.ckeditor.com/4.20.2/standard/ckeditor.js")

body#page-top
    #wrapper
        include slidebar 
        #content-wrapper.d-flex.flex-column
            #content
                include topbar
                block Content
    block Modal
        include logoutmodal
    script(src='/asset/vendor/jquery/jquery.min.js')
    script(src='/asset/vendor/bootstrap/js/bootstrap.bundle.min.js')
    script(src='/asset/vendor/jquery-easing/jquery.easing.min.js')
    script(src='/asset/js/ruang-admin.min.js')
    script(src='/asset/vendor/chart.js/Chart.min.js')
    script(src='/asset/js/demo/chart-area-demo.js')
    script(src='/asset/vendor/datatables/jquery.dataTables.min.js')
    script(src='/asset/vendor/datatables/dataTables.bootstrap4.min.js')
    script(src="https://kit.fontawesome.com/aff0384d2c.js")
    script(src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js")
    script(src="/asset/js/ckeditor.js")


