ul#accordionSidebar.navbar-nav.sidebar.sidebar-secondary.accordion
    a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/admin')
        .sidebar-brand-icon
            img(src='/asset/img/logo/logo2.png')
        .sidebar-brand-text.mx-3 SMARTCHEF
    hr.sidebar-divider.my-0

    .sidebar-heading.mt-3
        | Features
    li.nav-item
        a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapseForm' aria-expanded='true' aria-controls='collapseForm')
            i.fab.fa-fw.fa-wpforms
            span Bài đăng
        #collapseForm.collapse(aria-labelledby='headingForm' data-parent='#accordionSidebar')
            .bg-white.py-2.collapse-inner.rounded
                h6.collapse-header Bài đăng
                a.collapse-item(href='/admin/allpost') Tất cả bài đăng
                a.collapse-item(href='/admin/post') Tạo bài đăng
    li.nav-item
        a.nav-link(href='/admin/product')
            i.fa-brands.fa-product-hunt
            span Sản phẩm
    li.nav-item
        a.nav-link(href='/admin/faq')
            i.fas.fa-fw.fa-palette
            span FAQ
    li.nav-item
        a.nav-link(href='/admin/message')
            i.fa-solid.fa-envelope
            span Tin nhắn
    hr.sidebar-divider