section#hero.d-flex.align-items-center
    .container
        .row
            .col-lg-6.d-flex.flex-column.justify-content-center.pt-4.pt-lg-0.order-2.order-lg-1(data-aos='fade-up' data-aos-delay='200')
                h1.text-light Better Choices For Your Kitchen
                .d-flex.justify-content-center.justify-content-lg-start
                    a.btn-get-started.scrollto(href='#pricing') Get Started
                    a.glightbox.btn-watch-video(href='https://www.youtube.com/embed/FTociictyyE')
                        i.bi.bi-play-circle
                        span Watch Video
            .col-lg-6.order-1.order-lg-2.hero-img(data-aos='zoom-in' data-aos-delay='200')
                img.img-fluid.animated(src='assets/img/hero-img.png' alt='')