footer#footer
    .footer-top.bg-light
        .container
            .row
                .col-lg-3.col-md-6.footer-contact
                    h3 SmartChef
                    p
                        | A108 Adam Street 
                        br
                        | New York, NY 535022
                        br
                        | United States 
                        br
                        br
                        strong Phone:
                        |  +84 909 146 094
                        br
                        strong Email:
                        |  nhan.nguyenkieu317@gmail.com
                        br
                .col-lg-3.col-md-6.footer-links
                    h4 Useful Links
                    ul
                        li
                            i.bx.bx-chevron-right
                            a(href='#') Home
                        li
                            i.bx.bx-chevron-right
                            a(href='#') About us
                        li
                            i.bx.bx-chevron-right
                            a(href='#') Services
                        li
                            i.bx.bx-chevron-right
                            a(href='#') Terms of service
                        li
                            i.bx.bx-chevron-right
                            a(href='#') Privacy policy
                .col-lg-3.col-md-6.footer-links
                    h4 Our Services
                    ul
                        li
                            i.bx.bx-chevron-right
                            a(href='#') Web Design
                        li
                            i.bx.bx-chevron-right
                            a(href='#') Web Development
                        li
                            i.bx.bx-chevron-right
                            a(href='#') Product Management
                        li
                            i.bx.bx-chevron-right
                            a(href='#') Marketing
                        li
                            i.bx.bx-chevron-right
                            a(href='#') Graphic Design
                .col-lg-3.col-md-6.footer-links
                    h4 Our Social Networks
                    .social-links.mt-3
                        a.twitter(href='#')
                            i.bx.bxl-twitter
                        a.facebook(href='#')
                            i.bx.bxl-facebook
                        a.instagram(href='#')
                            i.bx.bxl-instagram
                        a.google-plus(href='#')
                            i.bx.bxl-skype
                        a.linkedin(href='#')
                            i.bx.bxl-linkedin
    .container.footer-bottom.clearfix
        .copyright
            | &copy; Copyright 
            strong
                span SmartChef
            | . All Rights Reserved

