footer#footer
    .footer-newsletter
        .container
            .row.justify-content-center
                .col-lg-6
                    h4 Join Our Newsletter
                    p Tamen quem nulla quae legam multos aute sint culpa legam noster magna
                    form(action='' method='post')
                        input(type='email' name='email')
                        input(type='submit' value='Subscribe')
    .footer-top
        .container
            .row
                .col-lg-3.col-md-6.footer-contact
                    h3 Arsha
                    p
                        | A108 Adam Street 
                        br
                        |               New York, NY 535022
                        br
                        |               United States 
                        br
                        br
                        strong Phone:
                        |  +1 5589 55488 55
                        br
                        strong Email:
                        |  info@example.com
                        br
                .col-lg-3.col-md-6.footer-links
                    h4 Useful Links
                    ul
                        li
                            i.bx.bx-chevron-right
                            a(href='#') Home
                        li
                            i.bx.bx-chevron-right
                            a(href='#') About us
                        li
                            i.bx.bx-chevron-right
                            a(href='#') Services
                        li
                            i.bx.bx-chevron-right
                            a(href='#') Terms of service
                        li
                            i.bx.bx-chevron-right
                            a(href='#') Privacy policy
                .col-lg-3.col-md-6.footer-links
                    h4 Our Services
                    ul
                        li
                            i.bx.bx-chevron-right
                            a(href='#') Web Design
                        li
                            i.bx.bx-chevron-right
                            a(href='#') Web Development
                        li
                            i.bx.bx-chevron-right
                            a(href='#') Product Management
                        li
                            i.bx.bx-chevron-right
                            a(href='#') Marketing
                        li
                            i.bx.bx-chevron-right
                            a(href='#') Graphic Design
                .col-lg-3.col-md-6.footer-links
                    h4 Our Social Networks
                    p Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies
                    .social-links.mt-3
                        a.twitter(href='#')
                            i.bx.bxl-twitter
                        a.facebook(href='#')
                            i.bx.bxl-facebook
                        a.instagram(href='#')
                            i.bx.bxl-instagram
                        a.google-plus(href='#')
                            i.bx.bxl-skype
                        a.linkedin(href='#')
                            i.bx.bxl-linkedin
    .container.footer-bottom.clearfix
        .copyright
            | &copy; Copyright 
            strong
                span Arsha
            | . All Rights Reserved
        .credits
            | Designed by 
            a(href='https://bootstrapmade.com/') BootstrapMade
    #preloader
    a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
        i.bi.bi-arrow-up-short
